# Test Results

| Registry URL | Status |
| ------------ | ------ |
| a.ussh.net | ✅ Good |
| dhub.kubesre.xyz | ✅ Good |
| dislabaiot.xyz | ✅ Good |
| docker-cf.registry.cyou | ✅ Good |
| docker.1panel.dev | ✅ Good |
| docker.1panel.live | ✅ Good |
| docker.211678.top | ✅ Good |
| docker.actima.top | ✅ Good |
| docker.anyhub.us.kg | ✅ Good |
| docker.awsl9527.cn | ✅ Good |
| docker.jsdelivr.fyi | ✅ Good |
| docker.kejilion.pro | ✅ Good |
| docker.m.daocloud.io | ✅ Good |
| docker.mrxn.net | ✅ Good |
| docker.nastool.de | ✅ Good |
| docker.registry.cyou | ✅ Good |
| docker.xn--6oq72ry9d5zx.cn | ✅ Good |
| docker.zhai.cm | ✅ Good |
| dockercf.jsdelivr.fyi | ✅ Good |
| dockerproxy.cn | ✅ Good |
| dockerproxy.com | ✅ Good |
| dockerpull.com | ✅ Good |
| dockertest.jsdelivr.fyi | ✅ Good |
| doublezonline.cloud | ✅ Good |
| freeno.xyz | ✅ Good |
| ginger20240704.asia | ✅ Good |
| hub.crdz.gq | ✅ Good |
| hub.dockerx.org | ✅ Good |
| hub.geekery.cn | ✅ Good |
| hub.rat.dev | ✅ Good |
| hub.xdark.top | ❌ Outdated |
| lynn520.xyz | ❌ Outdated |
| registry.dockermirror.com | ✅ Good |
