name: Mirror

on:
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TZ: Asia/Shanghai

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Docker
        run: |
          docker version
          docker info

      - name: Test Mirrors
        run: |
          date_suffix=$(date +"%Y-%m-%d")
          output_file="logs/mirrors-${date_suffix}.md"
          image="library/alpine:latest"

          {
            echo "# DockerHub 镜像测试结果 (${date_suffix})"
            echo ""
            echo "|  镜像  |  状态  |  时间  |"
            echo "| :----: | :----: | :----: |"
          } > $output_file

          success_records=()
          fail_records=()

          while IFS= read -r mirror; do
            echo "正在测试 $mirror"
            start_time=$(date +%s%3N)

            if docker pull $mirror/$image; then
              status="✅"
            else
              status="❌"
            fi

            end_time=$(date +%s%3N)
            elapsed_time=$(echo "scale=3; ($end_time - $start_time)/1000" | bc)
            formatted_elapsed_time=$(printf "%.3f" $elapsed_time)

            record="$mirror | $status | $formatted_elapsed_time"
            if [ "$status" = "✅" ]; then
              success_records+=("$record")
            else
              fail_records+=("$record")
            fi

            docker rmi $mirror/$image || true
          done < docs/mirrors.txt

          IFS=$'\n' sorted_success=($(sort -t '|' -k 3 -n <<<"${success_records[*]}"))
          for record in "${sorted_success[@]}"; do
            echo "| $record |" >> $output_file
          done

          IFS=$'\n' sorted_fail=($(sort -t '|' -k 3 -n <<<"${fail_records[*]}"))
          for record in "${sorted_fail[@]}"; do
            echo "| $record |" >> $output_file
          done

          find "logs" -name "mirrors-*.md" -type f -mtime +30 -exec rm {} \;

          cp -af "$output_file" "README.md"

          echo "TIME=$(date +"%Y-%m-%d %H:%M:%S")" >> $GITHUB_ENV

      - name: Upload to repository
        uses: stefanzweifel/git-auto-commit-action@master
        with:
          commit_message: ${{ env.TIME }}
